/*----------------connect icon font-------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p708do');
  src:  url('../fonts/icomoon.eot?p708do#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p708do') format('truetype'),
    url('../fonts/icomoon.woff?p708do') format('woff'),
    url('../fonts/icomoon.svg?p708do#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*----------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
}

.logo-wrapper {
  padding-left: 50px;
  padding-top: 10px;
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
  margin-left: 5px
}

a {
  text-decoration: none;
  color: #000000;
}

.contact-icon {
  font-size: 28px;
}

a:hover,
.highlights {
  background-image: linear-gradient(to right, #ff00cc, #333399);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link {
  transition: .3s;
  padding: 0 30px;
  line-height: 50px;
}

.contacts-wrapper {
  padding-right: 50px;
}

.about {
  min-height: 350px;
  padding: 100px 0px 80px 0px;
  display: flex;
  align-items: center;
}

.about-wrapper {
  max-width: 500px;
  margin: 0px 200px 0px 200px;
}

.about-header {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 20px;
}

.about-text {
  font-size: 17px;
}

.photo-wrapper {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.photo {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.skills-wrapper {
  min-height: 350px;
  padding: 80px 0px 80px 0px;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 60px;
}

.skills-icons{
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.skill-img {
  width: 88px;
  height: auto;
}

.projects-wrapper {
  min-height: 350px;
  padding: 80px 200px 80px 200px;
}

.projects-names {
  font-size: 20px;
  margin-bottom: 5px;
}

.project-descr {
  font-size: 17px;
}

ul.projects-list {
  list-style-type: none;
}

ul.projects-list li {
  padding-left: 80px;
  background-image: url(/img/icons/web.png);
  background-position: 0 0;
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.projects-list-wrapper {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.project-links {
  text-transform: uppercase;
  text-align: right;
}